<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ideias-Casa Criativa</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,600,700&display=swap" rel="stylesheet"> <!--Pra você colocar a fonte em algum local, tu deixa o link aqui e coloca a familia no css, pega no google fonts-->
    <link rel="stylesheet" href="style.css"> <!--Puxou o arquivo css e colocou-->
</head>

<body>
   <div id="page">
    <header>
        <img src="/logo.png" alt="Imagem logo">
        <nav> <!--Usado para fazer navegação, tipo menus-->
            <li><a href="/">Início</a></li> <!--a tag li é usada para fazer listagens-->
            <li><a href="#" onclick="onoff()">Nova Ideia</a></li>

        </nav>
    </header>
     <section id="title">
        <h1>Ideias</h1>
     </section>
     <main>
        <section id="ideas">
            {%include "all_ideas.html"%}
        </section>


     </main>
     <footer id=footer>
        Com ♥️ <a href="https://www.linkedin.com/in/marcomrj/" target="_blank">Marco</a>
     </footer>
    </div> 
     
       {%include "modal.html"%}
       
       
       <script>
            function onoff(){ /*Coloquei uma função que eu nomei de onoff, no modal, assim quando eu clicar, ele recebe a classe hide*/
                document
                    .querySelector("#modal")
                    .classList
                    .toggle("hide")
                document
                    .querySelector("body")
                    .classList
                    .toggle("hideScroll")
            }


        </script>






    </body>
</html>